<config>
  <service name="timber">
    <listen ip="127.0.0.1:8101"></listen>
    <group name="timbergroup" scheduler="rand" enable="true">
      <host name="host01" ip="127.0.0.1:8081" weight="5"></host>
      <host name="host02" ip="127.0.0.1:8082" weight="5"></host>
      <host name="host03" ip="127.0.0.1:8083" weight="5"></host>
      <host name="host04" ip="127.0.0.1:8084" weight="5"></host>
      <host name="host05" ip="127.0.0.1:8085" weight="5"></host>
      <host name="host06" ip="127.0.0.1:8086" weight="5"></host>
      <host name="host07" ip="127.0.0.1:8087" weight="5"></host>
      <host name="host08" ip="127.0.0.1:8088" weight="5"></host>
      <host name="host09" ip="127.0.0.1:8089" weight="5"></host>
      <host name="host10" ip="127.0.0.1:8090" weight="5"></host>
      <host name="host11" ip="127.0.0.1:8091" weight="5"></host>
      <host name="host12" ip="127.0.0.1:8092" weight="5"></host>
      <host name="host13" ip="127.0.0.1:8093" weight="5"></host>
      <host name="host14" ip="127.0.0.1:8094" weight="5"></host>
      <host name="host15" ip="127.0.0.1:8095" weight="5"></host>
      <host name="host16" ip="127.0.0.1:8096" weight="5"></host>
      <host name="host17" ip="127.0.0.1:8097" weight="5"></host>
      <host name="host18" ip="127.0.0.1:8098" weight="5"></host>
      <host name="host19" ip="127.0.0.1:8099" weight="5"></host>
      <host name="host20" ip="127.0.0.1:8100" weight="5"></host>
    </group>
  </service>

  <admin>
    <web listen="127.0.0.1:8079" enable="True" secure="False" refresh="100"></web>
    <ssh listen="127.0.0.1:8078" enable="True"></ssh>
    <user name="admin" password="..xpoEyRReGzk" access="full"></user><user></user>
  </admin>

  <logging file="logfile.log"></logging>

  <manager hostCheckInterval="61">
    <hostCheck interval="71"></hostCheck>
    <configCheck interval="81"></configCheck>
    <heartbeat interval="50"></heartbeat>
  </manager>

</config>